/**
 * Custom styles on top of Tachyons
 */

p,
ul,
ol {
    color: #222;
}

.divider {
    width: 80px;
    height: 10px;
    border-radius: 1000px;
}

.hilight {
    color: $dark-red;
}

.hilightbg {
    background-color: $dark-red;
}

/**
 * Add breakpoint setting for BG colors
 * ( In use now in the header links )
 */
@media #{$breakpoint-not-small} {
    .bg-transparent-ns {
        background-color: $transparent;
    }
}

@media #{$breakpoint-medium} {
    .black-m {
        color: $dark-gray;
    }
}

@media #{$breakpoint-large} {
    .black-l {
        color: $dark-gray;
    }
}

/**
 * Work cards
 * Common styles use Tachyons.
 * These styles are not available in Tachyons.
 */
.work-card {
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
    // transition: 0.3s; add this if using a hover treatment
}
// Need to add these color classes
.work-card-pill {
    background-color: #f0f5ff;
    border-color: #74767c;
}
.work-card-bg {
    background-color: #E9F1FE;
}

/**
 * Post styles
 */
.unsighted {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}
