/**
 * CSS Grid Settings
 */

/**
 * My custom overwrites of the Tachyons breakpoints,
 * added here for reference
 * $breakpoint-not-small: 'screen and (min-width: 768px)';
 * $breakpoint-medium: 'screen and (min-width: 768px) and (max-width: 1000px)';
 * $breakpoint-large: 'screen and (min-width: 1000px)';
 */

/**
 * Breakpoint variables for my custom grid styles
 */
$bp0: 1440px;
$bp1: 1280px;
$bp2: 1024px;
$bp3: 768px;

/**
 * Content minimum
 */
$content-min: 200px;

.wrapper {
	padding: 0 1em;

	@media only screen and (min-width: $bp3) {
		padding: 0 4em;
	}
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: $bp0;
}

// .grid {}

.grid--content {
	width: 100%;
	@media only screen and (min-width: $bp3) {
		display: grid;
		/*
		fr = fractional unit (one part of the available space)
		For instance: 1fr 1fr 1fr 1fr (four columns, each column is 25%)
		Set up grid columns 1fr 1fr [content] 1fr 1fr
		The [content] will be no less than 200px and no more than 800px
		Column numbers, L to R
		1     2     3     4     5     6
		|-----|-----|-----|-----|-----|
		Column numbers, R to L
		-6   -5    -4    -3    -2    -1
		|-----|-----|-----|-----|-----|
		*/
		grid-template-columns: 1fr 1fr minmax($content-min, $bp3) 1fr 1fr;
		grid-gap: 0;
		/*
		At this breakpoint, all content fills column 3.
		Just have to make sure every parent element
		that might show up in the content is accounted for
		*/
		>div,
		h1,
		h2,
		h3,
		p,
		ul,
		ol {
			grid-column: 3;
		}
		>figure {
			grid-column: 2 / 5;
			margin-top: 2rem;
		}
		>figure.big {
			grid-column: 1 / 6;
			margin-top: 2rem;
		}
		>.expand-m {
			grid-column: 2 / 5;
		}
		>.expand {
			grid-column: 1 / -1;
		}
	}
}

/**
 * This is similar to the primary content grid,
 * but forcing content into two columns
 */
.grid--work {
	width: 100%;
	@media only screen and (min-width: $bp3) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 4rem;
		>figure.big {
			grid-column: 1 / 6;
			margin-top: 2rem;
		}
	}
}

/**
 * The smaller "design system strengths" cards on the home page
 */
.skill-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
	@media (min-width: 600px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (min-width: 900px) {
		grid-template-columns: repeat(3, 1fr);
	}
}
.skill-item {}
