/**
 * My custom variables
 * This partial is grabbed during the Tachyons import process, 
 * so the variables will be applied in the correct order.
 */

/**
 * Custom fonts
 */
$font-head: 'Abril Fatface', georgia, serif;
$font-subhead: 'Open Sans', sans-serif, system-ui;
$font-body: 'Open Sans', sans-serif, system-ui;

/**
 * Reset Tachyons colors
 */
$dark-gray: #222;
$mid-gray: #444;
$gray: #666;
$silver: #888;

/**
 * Reset tachyons media query variables
 */
$breakpoint-not-small: 'screen and (min-width: 768px)';
$breakpoint-medium: 'screen and (min-width: 768px) and (max-width: 1000px)';
$breakpoint-large: 'screen and (min-width: 1000px)';
