<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<style>body{background-color:#fffdf4;}</style>
<link
	href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@400;600&display=swap"
	rel="stylesheet"
/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=download" />
<link href="/css/style.css" rel="stylesheet" />
</head>

<body class="font-body" style="margin: 0; padding: 0;">
<div class="wrapper">
<div class="container">

	<header class="grid--content">
		<div class="expand">
			<div class="flex-row flex-m flex-l items-center justify-between mt4 mb4 mb5-m mb5-l">
				<h1 class="font-subhead f4 mt0 mb4 mb0-m mb0-l">
					<a class="black link dim" href="/">{{ site.title }}</a>
				</h1>
				{% include menu.html %}
			</div>
		</div>
	</header>

	<main role="main">