<div class="skill-container">
  {% include 
	skill-card.html 
	title="📢 System Leadership" 
	copy="I always lead by example. I advocate for and practice the standards and methods necessary to ship stable, reliable systems." 
	%}
{% comment %}

{% endcomment %}
	{% include 
	skill-card.html 
	title="🚀 Driving Business Goals" 
	copy="I build systems that serve organizational goals. My experience helps me predict and avoid blockers and deliver progress." 
	%}
	{% include 
	skill-card.html 
	title="🦄 Design + Code Skills" 
	copy="I enjoy combining design craft with technology. I've been known to deliver a CodePen to engineers, if I think it will add clarity."
	%}
	{% include 
	skill-card.html 
	title="🛠️ Library Construction" 
	copy="From tokens and foundations to multi-variant component sets, I produce tools that help designers work faster and smarter." 
	%}
	{% include 
	skill-card.html 
	title="👋🏼 Education & Support" 
	copy="I've led and managed onboarding, real-time support, and team office hours. I meet users where they are, and I collaborate with empathy."
	%}
	{% include 
	skill-card.html 
	title="🤓 Engineering Partner" 
	copy="My front-end experience makes me an ideal collaborator with engineering & accessibility partners."
	%}
</div>

{% comment %}
Design System Leadership, Cross-Functional Collaboration, Engineering Collaboration, Roadmap Planning & Prioritization, Design System Mentorship/Education/Support, User Research/Testing, Design Tokens/Theming, Figma Component Construction/Documentation/Engineering Specification, Quality Assurance, Accessible Component Standards, Design System Library Maintenance/Governance/Iteration

System Leadership
Driving Business Goals
Library Construction
Engineering Partner
Governance & Support
Onboarding & Education
{% endcomment %}