<div class="reference-container">
  {% include 
	reference-card.html 
	copy="What sets Greg apart is his level-headed systems thinking, blending meticulous attention to detail with deep empathy. He's an exceptional listener, always identifying meaningful ways to support users rationally." 
	name="Usayed Mahmood"
	position="Experience Design Leader" 
	link="https://www.linkedin.com/in/usayed/"
	%}
	{% include 
	reference-card.html 
	copy="I was constantly impressed by his meticulous eye for detail and how he beautifully balanced brand, accessibility, and engineering best practices to deliver high-quality work. Greg is an excellent mentor and collaborator." 
	name="Pia Vergara" 
	position="Senior Product Designer" 
	link="https://www.linkedin.com/in/piavergara/"
	%}
	{% include 
	reference-card.html 
	copy="His mentorship and deep expertise in design systems, accessibility, and engineering implementation were absolutely invaluable to me and the team. Beyond his expertise, Greg is a collaborative, empathetic, and approachable teammate who would be a tremendous asset to any organization." 
	name="Matthew Ma" 
	position="Lead Product Designer" 
	link="https://www.linkedin.com/in/matthewcma/"
	%}
	{% include 
	reference-card.html 
	copy="Greg is truly a unicorn. His background in and understanding of front-end development really complement and enhance his exceptional design and user experience skills. He understands at a deep level all of the essential elements of product design: from the code to components, to design systems and patterns." 
	name="Monica Trego" 
	position="Product Design Lead" 
	link="https://www.linkedin.com/in/mtrego/"
	%}
</div>
