{% if page.slug == "index" %}
<div class="flex-column-s flex-column-m flex-l mb5 br3 bg-white overflow-hidden work-card">
{% else %}
<div class="flex-column-s flex-column-m flex-l br3 bg-white overflow-hidden work-card">
{% endif %}
	{% if include.align == "center" %}
	<div class="w-100 w-100-m w-50-l flex items-center justify-center work-card-bg">
		{% if include.readmore %}
		<a href="{{include.readmore}}">
			<img class="ma0 db w-100" src="/img/{{include.image}}" alt="{{include.alt}}">
		</a>
		{% else %}
		<img class="ma0 db w-100" src="/img/{{include.image}}" alt="{{include.alt}}">
		{% endif %}
	</div>
	{% else %}
	<div class="w-100 w-100-m w-50-l flex items-end justify-center work-card-bg">
		{% if include.readmore %}
		<a href="{{include.readmore}}">
			<img class="ma0 db w-100" src="/img/{{include.image}}" alt="{{include.alt}}">
		</a>
		{% else %}
		<img class="ma0 db w-100" src="/img/{{include.image}}" alt="{{include.alt}}">
		{% endif %}
	</div>	
	{% endif %}
	<div class="w-100 w-100-m w-50-l ma0 pa4 pa5-m pa5-l bt bt-m bt-0-l bl-l b--black-10">
		{% include work-pill.html company=include.company %}
		<h2 class="f4">{{include.intro}}</h2>
		<p class="lh-copy f5">{{include.description}}</p>
		{% if include.readmore %}
		<p class="lh-solid f5">
			<a href="{{include.readmore}}">Read more</a>
		</p>
		{% endif %}
	</div>
</div>