{% include header.html %}

<section class="grid--content">
	<div>
		{% include page-header.html %}
		{% include section-title.html label="Design system strengths" %}
	</div>
</section>

<section class="grid--content">
	<div class="expand-m">
		{% include home-skill-cards.html %}
	</div>
</section>

<section class="grid--content">
	<div>
		{% include section-title.html label="Recent work" %}
		{% include copy-block.html copy="I spent more than a decade as a hybrid designer/developer in client services. I've spent the previous eight years in focused UX roles where I've been lucky enough to nurture my passion for design systems. I'm a player-coach, and I enjoy the challenge of system-product collaboration." %}
		{% include copy-block.html copy="My case studies are focused on the design system work I've done at Walmart, over the past five years. Design systems are my happy place, and I'd be happy to spend way too much time talking systems with you! 🤓" %}
	</div>
</section>

<section class="grid--content mt5">
	<div class="expand-m">
		{{ content }}
	</div>
</section>

{% include footer.html %}
